[Unit]
Description=accuknox-discover
After=sumengine.service

[Service]
User=root
KillMode=control-group
WorkingDirectory=/opt/accuknox-discover/
ExecStart=/opt/accuknox-discover/discover --config conf/config.yaml --kmux-config kmux-config.yaml
{{- if gt .SystemdVersion 240 }}
StandardOutput=append:/opt/accuknox-discover/accuknox-discover.log
StandardError=append:/opt/accuknox-discover/accuknox-discover-err.log
{{- else }}
StandardOutput=file:/opt/accuknox-discover/accuknox-discover.log
StandardError=file:/opt/accuknox-discover/accuknox-discover-err.log
{{- end }}
Restart=always
RestartSec=10

CPUQuota={{ .CPUQuota | default "5%" }}
MemoryMax={{ .MemoryMax | default "100M" }}

{{- if gt .SystemdVersion 241 }}
MemoryHigh={{ .MemoryHigh | default "80M" }}
{{- end }}

{{- if gt .SystemdVersion 241 }}
CPUWeight=50
{{- end }}

OOMPolicy=kill

[Install]
WantedBy=multi-user.target