[Unit]
Description=accuknox-discover
After=sumengine.service

{{- if ge .SystemdVersion 230 }}
# limit to 4 restarts in 60 seconds
# for newer systemd versions
# https://www.freedesktop.org/software/systemd/man/latest/systemd.unit.html#StartLimitIntervalSec=interval
StartLimitIntervalSec=90
StartLimitBurst=3
{{- else if ge .SystemdVersion 220 }}
# limit to 4 restarts in 60 seconds
# for newer systemd versions
# https://www.freedesktop.org/software/systemd/man/latest/systemd.unit.html#StartLimitIntervalSec=interval
StartLimitInterval=90
StartLimitBurst=3
{{- end }}

[Service]
User=root
KillMode=control-group
WorkingDirectory=/opt/accuknox-discover/
ExecStart=/opt/accuknox-discover/discover --config conf/config.yaml --kmux-config kmux-config.yaml
{{- if gt .SystemdVersion 240 }}
StandardOutput=append:/opt/accuknox-discover/accuknox-discover.log
StandardError=append:/opt/accuknox-discover/accuknox-discover-err.log
{{- else }}
StandardOutput=file:/opt/accuknox-discover/accuknox-discover.log
StandardError=file:/opt/accuknox-discover/accuknox-discover-err.log
{{- end }}
Restart=always
RestartSec=10

CPUQuota={{ .CPUQuota | default "5%" }}
{{- if gt .SystemdVersion 229 }}
MemoryMax={{ .MemoryMax | default "100M" }}
{{- end }}

{{- if lt .SystemdVersion 230 }} 
MemoryLimit={{ .MemoryMax | default "100M" }}
{{- end }}


{{- if gt .SystemdVersion 241 }}
MemoryHigh={{ .MemoryHigh | default "80M" }}
{{- end }}

{{- if gt .SystemdVersion 241 }}
CPUWeight=50
{{- end }}

{{- if ge .SystemdVersion 240 }}
OOMPolicy=stop
{{- end }}

{{- if lt .SystemdVersion 220 }}
# limit to 4 restarts in 60 seconds 
# for older systemd versions
# https://www.freedesktop.org/software/systemd/man/systemd.service.html
StartLimitInterval=90
StartLimitBurst=3
{{- end }}

[Install]
WantedBy=multi-user.target