[Unit]
Description=accuknox-policy-enforcement-agent
After=kubearmor.service kubearmor-vm-adapter.service spire-agent.service

[Service]
User=root
KillMode=control-group
WorkingDirectory=/opt/accuknox-policy-enforcement-agent/
ExecStart=/opt/accuknox-policy-enforcement-agent/accuknox-policy-enforcement-agent
{{- range .ProxyExtraArgs }}
Environment={{ . }}
{{- end }}
{{- if .ProxyEnabled }}
Environment="JOIN_TOKEN={{ .JoinToken }}"
{{- end }}
{{- if gt .SystemdVersion 240 }}
StandardOutput=append:/opt/accuknox-policy-enforcement-agent/accuknox-policy-enforcement-agent.log
StandardError=append:/opt/accuknox-policy-enforcement-agent/accuknox-policy-enforcement-agent-err.log
{{- else }}
StandardOutput=file:/opt/accuknox-policy-enforcement-agent/accuknox-policy-enforcement-agent.log
StandardError=file:/opt/accuknox-policy-enforcement-agent/accuknox-policy-enforcement-agent-err.log
{{- end }}
Restart=always
RestartSec=10


CPUQuota={{ .CPUQuota | default "5%" }}
MemoryMax={{ .MemoryMax | default "100M" }}

{{- if gt .SystemdVersion 241 }}
MemoryHigh={{ .MemoryHigh | default "80M" }}
{{- end }}

{{- if gt .SystemdVersion 241 }}
CPUWeight=50
{{- end }}

OOMPolicy=kill

[Install]
WantedBy=multi-user.target
