[Unit]
Description=kubearmor-relay-server
After=kubearmor.service

[Service]
User=root
KillMode=process
WorkingDirectory=/opt/kubearmor-relay-server/
ExecStart=/opt/kubearmor-relay-server/kubearmor-relay-server
StandardOutput=append:/opt/kubearmor-relay-server/kubearmor-relay-server.log
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target