[Unit]
Description=kubearmor-relay-server
After=kubearmor.service

[Service]
User=root
KillMode=process
WorkingDirectory=/opt/kubearmor-relay-server/
ExecStart=/opt/kubearmor-relay-server/kubearmor-relay-server
{{- if .UseSystemdAppend }}
StandardOutput=append:/opt/kubearmor-relay-server/kubearmor-relay-server.log
{{- else }}
StandardOutput=file:/opt/kubearmor-relay-server/kubearmor-relay-server.log
{{- end }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target