[Unit]
Description= Run accuknox risk assessment tool in specific intervals 

[Timer]
Unit=accuknox-rra.service
OnCalendar= {{.Schedule}}

[Install]
WantedBy=timers.target