[Unit]
Description=accuknox-shared-informer-agent
After=kubearmor-vm-adapter.service kubearmor.service

[Service]
User=root
KillMode=process
WorkingDirectory=/opt/accuknox-shared-informer-agent/
ExecStart=/opt/accuknox-shared-informer-agent/shared-informer-agent
StandardOutput=append:/opt/accuknox-shared-informer-agent/accuknox-shared-informer-agent.log
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target