[Unit]
Description=accuknox-shared-informer-agent
After=kubearmor-vm-adapter.service kubearmor.service

[Service]
User=root
KillMode=control-group
WorkingDirectory=/opt/accuknox-shared-informer-agent/
ExecStart=/opt/accuknox-shared-informer-agent/shared-informer-agent
{{- if gt .SystemdVersion 240 }}
StandardOutput=append:/opt/accuknox-shared-informer-agent/accuknox-shared-informer-agent.log
StandardError=append:/opt/accuknox-shared-informer-agent/accuknox-shared-informer-agent-err.log
{{- else }}
StandardOutput=file:/opt/accuknox-shared-informer-agent/accuknox-shared-informer-agent.log
StandardError=file:/opt/accuknox-shared-informer-agent/accuknox-shared-informer-agent-err.log
{{- end }}
Restart=always
RestartSec=10

CPUQuota={{ .CPUQuota | default "5%" }}
MemoryMax={{ .MemoryMax | default "100M" }}

{{- if gt .SystemdVersion 241 }}
MemoryHigh={{ .MemoryHigh | default "80M" }}
{{- end }}

{{- if gt .SystemdVersion 241 }}
CPUWeight=50
{{- end }}

OOMPolicy=kill

[Install]
WantedBy=multi-user.target