[Unit]
Description=Spire Agent
{{- if .PartOfVMScan }} 
PartOf=rra.service
{{- end }}

[Service]
User=root
KillMode=control-group
WorkingDirectory=/opt/spire-agent/
ExecStart=/opt/spire-agent/spire-agent run
{{- if gt .SystemdVersion 240 }}
StandardOutput=append:/opt/spire-agent/spire-agent.log
StandardError=append:/opt/spire-agent/spire-agent-err.log
{{- else }}
StandardOutput=file:/opt/spire-agent/spire-agent.log
StandardError=file:/opt/spire-agent/spire-agent-err.log
{{- end }}
Restart=always
RestartSec=10

CPUQuota={{ .CPUQuota | default "5%" }}
MemoryMax={{ .MemoryMax | default "100M" }}

{{- if gt .SystemdVersion 241 }}
MemoryHigh={{ .MemoryHigh | default "80M" }}
{{- end }}

{{- if gt .SystemdVersion 241 }}
CPUWeight=50
{{- end }}

OOMPolicy=kill

[Install]
WantedBy=multi-user.target