[Unit]
Description=accuknox-sumengine
{{- if .WorkerNode }}
After=kubearmor.service
{{- else }}
After=kubearmor-relay.service
{{- end }}

[Service]
User=root
KillMode=control-group
WorkingDirectory=/opt/accuknox-sumengine/
ExecStart=/opt/accuknox-sumengine/sumengine --config conf/config.yaml --kmux-config kmux-config.yaml

{{- range .ProxyExtraArgs }}
Environment={{ . }}
{{- end }}
{{- if .ProxyEnabled }}
Environment="JOIN_TOKEN={{ .JoinToken }}"
{{- end }}

{{- if gt .SystemdVersion 240 }}
StandardOutput=append:/opt/accuknox-sumengine/accuknox-sumengine.log
StandardError=append:/opt/accuknox-sumengine/accuknox-sumengine-err.log
{{- else }}
StandardOutput=file:/opt/accuknox-sumengine/accuknox-sumengine.log
StandardError=file:/opt/accuknox-sumengine/accuknox-sumengine-err.log
{{- end }}
Restart=always
RestartSec=10

CPUQuota={{ .CPUQuota | default "5%" }}
MemoryMax={{ .MemoryMax | default "100M" }}

{{- if gt .SystemdVersion 241 }}
MemoryHigh={{ .MemoryHigh | default "80M" }}
{{- end }}

{{- if gt .SystemdVersion 241 }}
CPUWeight=50
{{- end }}

OOMPolicy=kill

[Install]
WantedBy=multi-user.target
